{{ template "header.html" .}}
<link href="/css/article_styles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" /> -->
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">{{ .blogArticle.Author.Name }}</div>
                        <div class="text-muted">{{ .blogArticle.Author.Job }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{.blogArticle.Title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ .blogArticle.UpdatedAt.Format "2006/01/02 15:04"}}
                        </div>
                        <!-- Post categories-->
                        <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                    </header>
                    <div class="ql-snow ql-container" contenteditable="false">
                        {{ .content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</main>

{{ template "footer.html" .}}