{{ template "header.html" . }}

<div class="my-5 w-50 mx-auto">
    <h4>Go</h4>
    https://go.googlesource.com/go<br>
    BSD-3-Clause license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#go"
                    aria-expanded="true" aria-controls="go">
                    Show License
                </button>
            </h2>
            <div id="go" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Copyright 2009 The Go Authors.<br>

                    Redistribution and use in source and binary forms, with or without<br>
                    modification, are permitted provided that the following conditions are<br>
                    met:<br>
                    <br>
                    * Redistributions of source code must retain the above copyright<br>
                    notice, this list of conditions and the following disclaimer.<br>
                    * Redistributions in binary form must reproduce the above<br>
                    copyright notice, this list of conditions and the following disclaimer<br>
                    in the documentation and/or other materials provided with the<br>
                    distribution.<br>
                    * Neither the name of Google LLC nor the names of its<br>
                    contributors may be used to endorse or promote products derived from<br>
                    this software without specific prior written permission.<br>
                    <br>
                    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS<br>
                    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT<br>
                    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR<br>
                    A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT<br>
                    OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,<br>
                    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT<br>
                    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,<br>
                    DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY<br>
                    THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT<br>
                    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE<br>
                    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
                </div>
            </div>
        </div>
    </div>
    <h4>Gin</h4>
    https://github.com/gin-gonic/gin<br>
    MIT license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gin"
                    aria-expanded="true" aria-controls="gin">
                    Show License
                </button>
            </h2>
            <div id="gin" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The MIT License (MIT)<br>

                    Copyright (c) 2014 Manuel Martínez-Almeida<br>

                    Permission is hereby granted, free of charge, to any person obtaining a copy<br>
                    of this software and associated documentation files (the "Software"), to deal<br>
                    in the Software without restriction, including without limitation the rights<br>
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
                    copies of the Software, and to permit persons to whom the Software is<br>
                    furnished to do so, subject to the following conditions:<br>

                    The above copyright notice and this permission notice shall be included in<br>
                    all copies or substantial portions of the Software.<br>

                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
                    THE SOFTWARE.<br>
                </div>
            </div>
        </div>
    </div>
    <h4>Gorm</h4>
    https://github.com/go-gorm/gorm<br>
    MIT license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gorm"
                    aria-expanded="true" aria-controls="gorm">
                    Show License
                </button>
            </h2>
            <div id="gorm" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The MIT License (MIT)<br>

                    Copyright (c) 2013-present Jinzhu <wosmvp@gmail.com><br>

                        Permission is hereby granted, free of charge, to any person obtaining a copy<br>
                        of this software and associated documentation files (the "Software"), to deal<br>
                        in the Software without restriction, including without limitation the rights<br>
                        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
                        copies of the Software, and to permit persons to whom the Software is<br>
                        furnished to do so, subject to the following conditions:<br>

                        The above copyright notice and this permission notice shall be included in<br>
                        all copies or substantial portions of the Software.<br>

                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
                        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
                        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
                        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
                        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
                        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
                        THE SOFTWARE.<br>

                </div>
            </div>
        </div>
    </div>
    <h4>Bootstrap</h4>
    https://getbootstrap.com/<br>
    MIT license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Bootstrap"
                    aria-expanded="true" aria-controls="Bootstrap">
                    Show License
                </button>
            </h2>
            <div id="Bootstrap" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The MIT License (MIT)<br>

                    Copyright (c) 2011-2018 Twitter, Inc.<br>
                    Copyright (c) 2011-2018 The Bootstrap Authors<br>

                    Permission is hereby granted, free of charge, to any person obtaining a copy<br>
                    of this software and associated documentation files (the "Software"), to deal<br>
                    in the Software without restriction, including without limitation the rights<br>
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
                    copies of the Software, and to permit persons to whom the Software is<br>
                    furnished to do so, subject to the following conditions:<br>

                    The above copyright notice and this permission notice shall be included in<br>
                    all copies or substantial portions of the Software.<br>

                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
                    THE SOFTWARE.<br>

                </div>
            </div>
        </div>
    </div>
    <h4>golang-jwt / jwt</h4>
    https://github.com/golang-jwt/jwt<br>
    MIT license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jwt"
                    aria-expanded="true" aria-controls="jwt">
                    Show License
                </button>
            </h2>
            <div id="jwt" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Copyright (c) 2012 Dave Grijalva<br>
                    Copyright (c) 2021 golang-jwt maintainers<br>

                    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
                    associated<br>
                    documentation files (the "Software"), to deal in the Software without restriction, including without
                    limitation the<br>
                    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
                    Software, and to permit<br>
                    persons to whom the Software is furnished to do so, subject to the following conditions:<br>
                    <br>
                    The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the<br>
                    Software.<br>
                    <br>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
                    NOT LIMITED TO THE<br>
                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
                    SHALL THE AUTHORS OR<br>
                    COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
                    CONTRACT, TORT OR<br>
                    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.<br>

                </div>
            </div>
        </div>
    </div>
    <h4>google / uuid</h4>
    https://github.com/golang-jwt/jwt<br>
    BSD-3-Clause license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#uuid"
                    aria-expanded="true" aria-controls="uuid">
                    Show License
                </button>
            </h2>
            <div id="uuid" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Copyright (c) 2009,2014 Google Inc. All rights reserved.<br>

                    Redistribution and use in source and binary forms, with or without<br>
                    modification, are permitted provided that the following conditions are<br>
                    met:<br>

                    * Redistributions of source code must retain the above copyright<br>
                    notice, this list of conditions and the following disclaimer.<br>
                    * Redistributions in binary form must reproduce the above<br>
                    copyright notice, this list of conditions and the following disclaimer<br>
                    in the documentation and/or other materials provided with the<br>
                    distribution.<br>
                    * Neither the name of Google Inc. nor the names of its<br>
                    contributors may be used to endorse or promote products derived from<br>
                    this software without specific prior written permission.<br>

                    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS<br>
                    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT<br>
                    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR<br>
                    A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT<br>
                    OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,<br>
                    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT<br>
                    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,<br>
                    DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY<br>
                    THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT<br>
                    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE<br>
                    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
                </div>
            </div>
        </div>
    </div>
    <h4>bcrypt</h4>
    https://cs.opensource.google/go/x/crypto<br>
    BSD-3-Clause license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bcrypt"
                    aria-expanded="true" aria-controls="bcrypt">
                    Show License
                </button>
            </h2>
            <div id="bcrypt" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Copyright 2009 The Go Authors.<br>
                    <br>
                    Redistribution and use in source and binary forms, with or without<br>
                    modification, are permitted provided that the following conditions are<br>
                    met:<br>
                    <br>
                    * Redistributions of source code must retain the above copyright<br>
                    notice, this list of conditions and the following disclaimer.<br>
                    * Redistributions in binary form must reproduce the above<br>
                    copyright notice, this list of conditions and the following disclaimer<br>
                    in the documentation and/or other materials provided with the<br>
                    distribution.<br>
                    * Neither the name of Google LLC nor the names of its<br>
                    contributors may be used to endorse or promote products derived from<br>
                    this software without specific prior written permission.<br>
                    <br>
                    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS<br>
                    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT<br>
                    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR<br>
                    A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT<br>
                    OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,<br>
                    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT<br>
                    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,<br>
                    DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY<br>
                    THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT<br>
                    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USEv
                    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
                </div>
            </div>
        </div>
    </div>
    <h4>joho/godotenv</h4>
    https://github.com/joho/godotenv<br>
    MIT license
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#godotenv"
                    aria-expanded="true" aria-controls="godotenv">
                    Show License
                </button>
            </h2>
            <div id="godotenv" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Copyright (c) 2013 John Barton<br>
                    <br>
                    MIT License<br>
                    <br>
                    Permission is hereby granted, free of charge, to any person obtaining<br>
                    a copy of this software and associated documentation files (the<br>
                    "Software"), to deal in the Software without restriction, including<br>
                    without limitation the rights to use, copy, modify, merge, publish,<br>
                    distribute, sublicense, and/or sell copies of the Software, and to<br>
                    permit persons to whom the Software is furnished to do so, subject to<br>
                    the following conditions:<br>
                    <br>
                    The above copyright notice and this permission notice shall be<br>
                    included in all copies or substantial portions of the Software.<br>
                    <br>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,<br>
                    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF<br>
                    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND<br>
                    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE<br>
                    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION<br>
                    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION<br>
                    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" . }}